{% extends "base.html" %} 
{% block title %}Edit Shopping List{% endblock %} 
{% block navTitle %}Edit Shopping List{% endblock %}
{% block content %}
<div class="content">
    <div class="container shoppingListCont wow fadeInLeft">
        <div class="row">
            <div class="col s12 m7 l7">
                <h3>Edit Shopping List</h3>

                <form method="POST" action="" class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <label for="name">Name</label>
                            <input id="name" name="name" required="required" type="text" placeholder="{{ name }}" autofocus />
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <label for="description">Description</label>
                            <input id="description" name="description" type="text" />
                        </div>
                    </div>

                    <div class="col s12 right-align">
                        <button class="btn btn-large waves-effect waves-dark deep-purple" type="submit" name="add">
                                Edit
                            </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}