{% extends "base.html" %} 
{% block title %}Shopping List{% endblock %}
{% block navTitle %}Shopping List{% endblock %}
{% block content %}
    <div class="content">
        <div class="container shoppingListCont wow fadeInLeft">
            <div class="row">
                <div class="col s12 m6 l6">
                    <div class="card white">
                        <div class="card-content">
                            <span class="card-title">Item 1</span>
                            <div class="fixed-action-btn horizontal">
                                <a class="btn-floating btn"><i class="material-icons">menu</i></a>
                                <ul>
                                    <li><a href="#" class="btn-floating"><i class="material-icons">delete</i></a></li>
                                    <li><a href="/edit-item" class="btn-floating"><i class="material-icons">edit</i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Item modal -->
    <div id="item_modal" class="modal">
        <div class="modal-content">
            <h4>Add Item</h4>
            <form method="POST" action="" class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <label for="name">Name</label>
                        <input id="name" name="name" required="required" type="text" />
                    </div>
                </div>

                <div class="col s12 right-align">
                    <button class="btn btn-large waves-effect waves-dark deep-purple" type="submit" name="add">
                    Add
                </button>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>

</div>

{% endblock %}